<!-- LATEST JQUERY -->
<script src="https://maheshd.com/assets/js/jquery.min.js"></script>
<!-- BOOTSTRAP JS-->
<script src="https://maheshd.com/assets/js/bootstrap.min.js"></script>
<!-- OWL JS -->
<script src="https://maheshd.com/assets/js/owl.carousel.min.js"></script>
<!-- ANIMATED TEXT JS-->
<script src="https://maheshd.com/assets/js/animated-text.js"></script>
<!-- ISOTOPE JS -->
<script src="https://maheshd.com/assets/js/isotope.pkgd.js"></script>
<!-- LIGHTBOX JS -->
<script src="https://maheshd.com/assets/js/lightbox.min.js"></script>
<!-- STICKY JS -->
<script src="https://maheshd.com/assets/js/jquery.sticky.js"></script>
<!-- SWITCHER JS -->
<script src="https://maheshd.com/assets/js/switcher.js"></script>
<!-- MAIN JS-->
<script src="https://maheshd.com/assets/js/main.js"></script>