<!-- FOOTER DESIGN AREA -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    email: <a href="mailto:maheshdphotography@gmail.com?Subject=Quote%20Request" target="_top">maheshdphotography@gmail.com</a>
                </p> 
                <p>&copy; {{site.sitename}} {{ site.time | date: "%Y" }} All right Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- / END FOOTER DESIGN AREA -->

<!-- LATEST JQUERY -->
<script src="https://maheshd.com/assets/js/jquery.min.js"></script>
<!-- BOOTSTRAP JS-->
<script src="https://maheshd.com/assets/js/bootstrap.min.js"></script>
<!-- OWL JS -->
<script src="https://maheshd.com/assets/js/owl.carousel.min.js"></script>
<!-- ANIMATED TEXT JS-->
<script src="https://maheshd.com/assets/js/animated-text.js"></script>
<!-- ISOTOPE JS -->
<script src="https://maheshd.com/assets/js/isotope.pkgd.js"></script>
<!-- LIGHTBOX JS -->
<script src="https://maheshd.com/assets/js/lightbox.min.js"></script>
<!-- STICKY JS -->
<script src="https://maheshd.com/assets/js/jquery.sticky.js"></script>
<!-- SWITCHER JS -->
<script src="https://maheshd.com/assets/js/switcher.js"></script>
<!-- MAIN JS-->
<script src="https://maheshd.com/assets/js/main.js"></script>