<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="menu-area">
                <div class="container">
                    <div class="row">
                        <!-- LOGO DESIGN AREA -->
                        <div class="col-md-3 col-sm-2">
                            <div class="logo">
                                <a href="/"> Mahesh <span class="align-text-bottom"><i class="fa fa-camera fa-lg"></i> Photography</a>
                            </div>
                        </div>
                        <!-- / END LOGO DESIGN AREA -->
                        <div class="col-md-9 col-sm-10">
                            <div class="mainmenu">
                                <div class="navbar navbar-nobg">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>                                            
                                        </button>
                                    </div>
        
                                    <div class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a class="smoth-scroll" href="/">Home <div class="ripple-wrapper"></div></a>
                                            </li>                                            
                                            <li><a class="smoth-scroll" href="/contact">contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
           
                {{ content }}
    </body>

    <div class="scroll-to-up">
        <div class="scrollup">
            <i class="fa fa-angle-up"></i>
        </div>
    </div>

    {% include footer.html %}
</html>